.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 25px 35px;

  font-family: $ff-main;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-basic-white;
  background-color: $color-button-main;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
