@keyframes shake-phone {
  0% {
    transform: translate(-1px, -2px);
  }

  33% {
    transform: translate(1px, 2px);
  }

  66% {
    transform: translate(-2px, -1px);
  }

  100% {
    transform: translate(2px, 1px);
  }
}

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $color-basic-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-toggle {
  display: none;
}

.header__nav-list {
  display: flex;
  gap: 35px;
}

.header__nav-list-item {
  display: inline-block;
  list-style: outside none none;
}

.header__nav-list-link,
.header__nav-phone {
  padding: 5px 0;
  font-family: $ff-main;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $color-basic-black;
  transition: all $trans-default $tf-default;

  @include vp-1023 {
    font-size: 1.5vw;
  }
}

.header__nav-list-link {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0%;
    background-color: $color-accent-bordo;
    transition: all 0.35s ease;
  }

  @include hover-focus {
    &::before {
      opacity: 1;
      width: 100%;
    }
}

  &--current {
    color: $color-accent-bordo;
    pointer-events: none;
  }
}

.header__nav-phone {
  margin-left: 35px;
  display: flex;
  align-items: center;

  @include hover-focus {
    color: $color-accent-bordo;

    svg {
      animation: shake-phone .2s 4 normal;
    }
  }
}
