.quotes {
  padding: 20px;
  background-color: $color-basic-white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.quotes svg {
  position: absolute;
  left: 0;
  top: -20px;

  @include vp-767 {
    width: 20vw;
    height: 20vw;
  }
}

blockquote {
  margin: 30px 0 30px;
}

.quotes__item-text,
.quotes__item-author {
  margin: 0;
}

.quotes__item-text {
  margin-left: 100px;
  font-weight: 600;
  font-size: 20px;
  color: $color-basic-dark;

  @include vp-1279 {
    font-size: 1.9vw;
    line-height: 1em;
  }

  @include vp-767 {
    margin-left: 18vw;
    font-size: 14px;
  }

  @include vp-374 {
    font-size: 11px;
  }
}

.quotes__item-author {
  text-align: end;

  @include vp-1279 {
    font-size: 1.4vw;
    line-height: 1em;
  }

    @include vp-767 {
    font-size: 12px;
  }

  @include vp-374 {
    font-size: 10px;
  }
}
