.services {
  padding: 8vh 0;
  background-color: $color-background-pink;
}

.services__title {
  margin: 0;
  margin-bottom: 5vh;
  font-family: $ff-main;
  font-weight: 800;
  font-size: 38px;
  color: $color-basic-dark;
  line-height: 1em;

  @include vp-1279 {
    font-size: 3.5vw;
  }

  @include vp-767 {
    font-size: 4.5vw;
  }

  @include vp-374 {
    font-size: 18px;
  }
}
